* {
    margin: 0px;
    padding: 0px;
}


nav {
    display: flex;
    position: relative;
    font-family: 'Baloo Bhai 2', cursive;
}

nav::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.4;
}

#logo {
    display: flex;
}

#logo img {
    height: 50px;
    width: 88px;
    margin: 10px 16px;
}

nav ul {
    display: flex;
    margin: 0px;
    padding: 6px 0px 0px 23px;
}

nav ul li {
    list-style: none;
    font-size: 19px;
}

nav ul li a {
    color: white;
    display: block;
    padding: 2px 14px;
    text-decoration: none;
    border-radius: 22px;
    margin: 12px 10px;
}

nav ul li a:hover {
    color: black;
    background-color: white;
}


/* ------------------------------------------------------- */

#home {
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 111px;
    /* font-family: 'Bree Serif', serif; */
    font-family: 'Ubuntu', sans-serif;
}

#home::before {
    content: "";
    background: url('/Images/bg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.38;
}

#home h1 {
    font-size: 3.8rem;
    padding: 20px;
    text-align: center;
}

#home p {
    text-align: center;
    font-size: 20px;
}

#home button{
    padding: 2px 13px;
    border-radius: 15px;
    margin: 20px;
    font-size: 15px;
    cursor: pointer;
}